body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  background-color: rgb(51, 51, 51);
  color: white;
  font-size: 30px;
  height: 65px;
  width: 65px;
  border-radius: 32.5px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}

.orange-button{
  background-color: rgb(254, 160, 10);
}

.clear-style{
  font-size: 16px;
}

.result-style{
  color: white;
  font-size: 45px;
  margin-bottom: 5px;
  border-bottom: solid rgb(58, 58, 58);
  width: 280px;
  margin-top: 20px;
}